<nav>
  <ul>
      <li><%= link_to 'Posts', posts_path %></li>
      <% if current_user %>
        <li><a href="/users/<%=current_user.id%>"><%= "Hello, #{current_user.name}!" %></a></li>
        <li> <%= link_to 'New Post', new_post_path %> </li>
        <li><%= link_to "Log Out", log_out_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In with Github", github_login_path %></li>
      <% end %> 
  </ul>
</nav>